{% extends "base.html" %} {% block title %}Contacts{% endblock %} {% block
content %}
<div class="flex h-screen">
  <!-- Left panel -->
  <aside
    class="w-90 bg-sidebar space-y-4 border-r h-screen overflow-y-auto flex flex-col"
  >
    <div class="px-8 py-6 border-b border-border">
      <h2 class="text-2xl font-semibold text-sidebar-foreground">
        All Contacts
      </h2>
    </div>
    {% from "contact_item.html" import contact_item %}
    <ul id="contactsList" class="space-y-1 px-6">
      {% for contact in contacts %} {{ contact_item(contact) }} {% endfor %}
    </ul>
  </aside>

  <!-- Main panel -->
  <div class="flex flex-col justify-between h-full w-full p-6">
    <!-- Main content -->
    <div>
      <!-- Contact Details Section -->
      <div
        id="contactDetails"
        class="p-4 bg-card rounded-lg border border-border hidden relative max-w-md w-full"
      >
        <button
          id="openEditContact"
          class="absolute top-4 right-4 w-10 h-10 btn btn-outline btn-sm"
          title="Edit Contact"
        >
          <i class="fa fa-pencil text-sm"></i>
        </button>
        <h3 class="text-lg font-semibold text-foreground mb-4">
          Contact Details
        </h3>
        <div class="space-y-3">
          <div>
            <p class="text-sm text-muted-foreground">Name</p>
            <p id="detailName" class="text-foreground font-medium"></p>
          </div>
          <div>
            <p class="text-sm text-muted-foreground">Phone</p>
            <p id="detailPhone" class="text-foreground font-medium"></p>
          </div>
          <div>
            <p class="text-sm text-muted-foreground">Emails</p>
            <div id="detailEmails" class="space-y-1"></div>
          </div>
          <div>
            <p class="text-sm text-muted-foreground">Created</p>
            <p
              id="detailCreated"
              class="text-foreground font-medium text-sm"
            ></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div>
      <!-- <button id="openAddContact" class="btn btn-primary">Add Contact</button> -->
      <button
        id="openAddContact"
        class="btn btn-primary fixed bottom-6 right-6 w-10 h-10 rounded-full text-2xl flex items-center justify-center shadow-lg hover:cursor-pointer transition z-50"
        title="Add Contact"
      >
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</div>

{% include "modals.html" %}

<script
  type="module"
  src="{{ url_for('static', filename='js/index.js') }}"
></script>
{% endblock %}
